@import "tailwindcss";
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.auth-container {
  display: flex;
  height: 100vh;
}

.auth-left {
  flex: 1;
  background: #0f0b1f;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.auth-left h2 {
  margin-top: 40px;
  font-size: 40px;
  text-align: center;
  font-family: "Jersey 20", sans-serif;
}

.logo {
  width: 300px;
}

.auth-left::before,
.auth-left::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: rgba(99, 102, 241, 0.15);
  filter: blur(30px);
}

.auth-left::before {
  width: 200px;
  height: 200px;
  top: 20%;
  left: 20%;
}

.auth-left::after {
  width: 300px;
  height: 300px;
  bottom: 10%;
  right: 10%;
}

.auth-right {
  flex: 1;
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Spline Sans", sans-serif;
}

.form-box {
  background: #f5f5f5;
  color:#0f0b1f;
  padding: 40px;
  border-radius: 20px;
  width: 400px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.form-box h1 {
  text-align: center;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.1);
}

.row {
  display: flex;
  gap: 10px;
}

.row .input-group {
  flex: 1;
}

.link {
  font-size: 12px;
  margin: 10px 0;
  cursor: pointer;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

button {
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.google {
  background: white;
  border: 1px solid #ccc;
}

.primary {
  background: #4f46e5;
  color: white;
}

.back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.1);
  padding: 8px 12px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  transition: 0.2s;
  font-family: "Spline Sans", sans-serif;
  font-style: bold;
  margin-bottom: 20px;
}

.back-btn:hover {
  background: rgba(255, 255, 255, 0.2);
}