@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@plugin "daisyui";
@custom-variant dark (&:is(.dark *));

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #0f0b1f;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background: #1a1433;
  position: sticky;
  top: 0;
  z-index: 10000;
}
form {
  display: flex;
}
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 18px;
}
.logo img {
  width: 50px;
}
.logo a {
  color: white;
  text-decoration: none;
  font-family: "Spline Sans", sans-serif;
}

.nav-search {
  width: 400px;
  padding: 8px;
  border-radius: 6px;
  border: none;
  font-family: "Jersey 20", sans-serif;
  background: #d9d9d9;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-right a {
  color: white;
  font-size: 20px; 
  font-family: "Jersey 20", sans-serif;
}

.avatar i {
  width: 24px;
  height: 24px;
  color: white;
  margin: 8px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: radial-gradient(circle, #1a1433, #0f0b1f);
  position: relative;
  overflow: hidden;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  margin-bottom: 30px;
  font-size: 64px;
  position: relative;
  z-index: 2;
  font-family: "Jersey 20", sans-serif;
}

.search-box {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.search-box input {
  width: 500px;
  height: 80px;
  padding: 12px;
  border: none;
  font: 18px "Jersey 20", sans-serif;
  background:#d9d9d9 ;
}

.search-box button {
  padding: 20px;
  background: #0c043a;
  color: white;
  border: none;
  height: 100%;
}

.search-box button:hover {
  background: #4f46e5;
  cursor: pointer;
}

.search-box button i {
  width: 48px;
  height: 48px;
}

/* ABOUT */
.articleRight {
  display: flex;
  padding: 80px;
  background: #f5f5f5;
  color: black;
  align-items: center;
}

.about-text {
  flex: 1;
  margin-right: auto;
  max-width: 800px;
  margin-right: 40px;
}

.about-text h2 {
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 1.4;
  font-family: "Spline Sans", sans-serif;
}

.about-text p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  font-family: "Spline sans", sans-serif;
  text-align: justify;
}
.about-img {
  flex: 1;
}

.about-img img {
  width: 100%;
  border-radius: 14px;
}

.learn-more {
  display: inline-block;
  margin-top: 20px;
  font-weight: 600;
  text-decoration: underline;
  color: #000000;
}

/* DASHBOARD */
.articleLeft {
  display: flex;
  padding: 80px;
  background: #f5f5f5;
  color: black;
  align-items: center;
  flex-direction: row-reverse;
}

.dashboard-img {
  flex: 1;
}
.dashboard-img img {
  width: 100%;
  border-radius: 14px;
}
.dashboard-text {
  flex: 1;
  margin-left: auto;
  max-width: 800px;
  margin-left: 40px;

}

.dashboard-text h2 {
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 1.4;
  font-family: "Spline Sans", sans-serif;
}

.dashboard-text p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  font-family: "Spline sans", sans-serif;
}

/* OFFERS */
.offers {
  padding: 100px 20px;
  background: #0f0b1f;
  text-align: center;
}

.offers h2 {
  font-size: 24px;
  margin-bottom: 60px;
  line-height: 1.4;
}

/* GRID */
.offers-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 1100px;
  margin: 0 auto;
}

/* CARD */
.offer-card {
  background: #f1f1f1;
  color: #111;
  border-radius: 14px;
  padding: 24px;
  text-align: left;
  transition: all 0.3s ease;
}

/* hover PRO */
.offer-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

/* title */
.offer-card h3 {
  font-size: 16px;
  font-weight: 600;
}

/* divider */
.divider {
  height: 1px;
  background: #ccc;
  margin: 12px 0;
}

/* text */
.company {
  font-weight: 500;
}

.location,
.contract {
  font-size: 13px;
  color: #555;
}

.meta {
  margin: 12px 0;
  font-size: 13px;
}

/* TAGS */
.tags {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.tags span {
  font-size: 12px;
  color: #4f46e5;
  font-weight: 500;
}

.tags .highlight {
  color: #ff5a5a;
}

/* CTA */
.see-more {
  display: inline-block;
  margin-top: 50px;
  font-weight: 600;
  text-decoration: underline;
  color: white;
}

.footer {
  background: #1a1433;
  padding: 80px 40px 30px;
  color: white;
}

/* layout */
.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
  gap: 40px;
}

/* colonnes */
.footer-left img {
  width: 100px;
  margin-bottom: 10px;
}

.site {
  font-weight: 600;
  margin-top: 10px;
}

.footer-center,
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer h4 {
  margin-bottom: 10px;
  font-size: 14px;
  color: #aaa;
}

/* liens */
.footer a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.footer a:hover {
  text-decoration: underline;
}

/* bottom */
.footer-bottom {
  margin-top: 50px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

.footer-bottom span {
  color: #4f46e5;
  font-weight: 600;
}
.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}

.bubbles span {
  position: absolute;
  display: block;
  border-radius: 50%;
  animation: float infinite ease-in-out;
  filter: blur(10px);
}

/* positions différentes */
/* Bulle 1 - petite */
.bubbles span:nth-child(1) {
  width: 60px;
  height: 60px;
  left: 10%;
  top: 20%;
  background: rgba(79, 70, 229, 0.15);
  animation-duration: 18s;
}

/* Bulle 2 - moyenne */
.bubbles span:nth-child(2) {
  width: 100px;
  height: 100px;
  left: 70%;
  top: 30%;
  background: rgba(99, 102, 241, 0.12);
  animation-duration: 25s;
}

/* Bulle 3 - grande */
.bubbles span:nth-child(3) {
  width: 180px;
  height: 180px;
  left: 40%;
  top: 70%;
  background: rgba(139, 92, 246, 0.10);
  animation-duration: 22s;
}

/* Bulle 4 - très grande */
.bubbles span:nth-child(4) {
  width: 250px;
  height: 250px;
  left: 80%;
  top: 60%;
  background: rgba(79, 70, 229, 0.08);
  animation-duration: 30s;
}

/* Bulle 5 - petite rapide */
.bubbles span:nth-child(5) {
  width: 50px;
  height: 50px;
  left: 20%;
  top: 80%;
  background: rgba(99, 102, 241, 0.2);
  animation-duration: 15s;
}

.bubbles span:nth-child(6) {
  width: 50px;
  height: 50px;
  left: 73%;
  top: 2%;
  background: rgba(99, 102, 241, 0.2);
  animation-duration: 15s;
}
.bubbles span:nth-child(7) {
  width: 250px;
  height: 250px;
  left: 30%;
  top: 30%;
  background: rgba(79, 70, 229, 0.08);
  animation-duration: 30s;
}

.bubbles span:nth-child(8) {
  width: 100px;
  height: 100px;
  left: 10%;
  top: 48%;
  background: rgba(99, 102, 241, 0.12);
  animation-duration: 25s;
}
/* animation */
@keyframes float {
  0% {
    transform: translateY(0px) translateX(0px);
  }
  50% {
    transform: translateY(-40px) translateX(20px);
  }
  100% {
    transform: translateY(0px) translateX(0px);
  }
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}